<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <form class="product-form" action="/signup" method="POST">
                <% if(message !== undefined && message.length > 0) { %>
                    <div class="message message--error"><%= message.join(', ') %></div>
                <% } %>
                <div class="form-control">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" placeholder="Your name">
                </div>

                <div class="form-control">
                    <label for="username">User name</label>
                    <input type="text" name="username" id="username" placeholder="Please enter your email or an user name">
                </div>

                <div class="form-control">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password">
                </div>

                <div class="form-control">
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="confirmPassword" name="confirmPassword" id="confirmPassword">
                </div>
    
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" />

                <button class="btn" type="submit">Signup</button>
            </form>
        </main>
        <%- include('../includes/end.ejs') %>