<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <form class="product-form" action="/admin/<% if (editing) { %>edit-product<% } else { %>add-product<% } %>" method="POST">
            <% if(message !== undefined && message.length > 0) { %>
                <div class="message"><%= message.join('<br>') %></div> 
            <% } %>
            <div class="form-control">
                <label for="title">Title</label>
                <input 
                    type="text" 
                    name="title" 
                    id="title" 
                    value="<%= old && old.title ? old.title : '' %>"
                >
                <div class="validate-error"><%= validationResultErrors !== undefined 
                    ? validationResultErrors.errors.filter(e => e.param === 'title').map(e => e.msg).join(', ')
                    : '' %></div>
            </div>
            <div class="form-control">
                <label for="imageUrl">Image URL</label>
                <input 
                    type="text" 
                    name="imageUrl" 
                    id="imageUrl" 
                    value="<%= old && old.imageUrl ? old.imageUrl : '' %>"
                >
                <div class="validate-error"><%= validationResultErrors !== undefined 
                    ? validationResultErrors.errors.filter(e => e.param === 'imageUrl').map(e => e.msg).join(', ')
                    : '' %></div>
            </div>
            <div class="form-control">
                <label for="price">Price</label>
                <input 
                    type="number"
                    name="price" 
                    id="price" 
                    step="0.01" 
                    value="<%= old && old.price ? old.price : '' %>"
                >
                <div class="validate-error"><%= validationResultErrors !== undefined 
                    ? validationResultErrors.errors.filter(e => e.param === 'price').map(e => e.msg).join(', ')
                    : '' %></div>
            </div>
            <div class="form-control">
                <label for="description">Description</label>
                <textarea 
                name="description" 
                id="description" 
                rows="5"><%= old && old.description ? old.description : '' %></textarea>
                <div class="validate-error"><%= validationResultErrors !== undefined 
                    ? validationResultErrors.errors.filter(e => e.param === 'description').map(e => e.msg).join(', ')
                    : '' %></div>
            </div>
            <% if (editing) { %>
                <input type="hidden" value="<%= product._id %>" name="productId">
            <% } %>

            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />

            <button class="btn" type="submit"><% if (editing) { %>Update Product<% } else { %>Add Product<% } %></button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>